.timerContainer {
    background-color: var(--secondary-background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    height: 550px;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
    position: relative;
    animation: fade-in 1s ease-in-out;
    overflow: hidden;
    gap: 2.2em;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 100%;
}

.timerIcon {
    background-color: var(--tertiary-background-color);
    border-radius: 10px;
    padding: 6.5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.timerIcon .icon {
    stroke: var(--icon-color);
}

.timerGif {
    width: 15em;
    height: 15em;
}

.timerButtons {
    display: flex;
    align-items: center;
    gap: 1em;
}

.timerButtons .icon {
    stroke: var(--secondary-text-color);
}