@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  line-height: normal;
}

:root [data-theme='pink-dark'] {
  --primary-background-color: #07010e;
  --secondary-background-color: #0F0F22;
  --tertiary-background-color: #1f2034;

  --timer-circle-color: #0F0F22;

  --primary-text-color: white;
  --secondary-text-color: slategray;
  
  --icon-pomodoro-color: #33354e;
  --icon-color: #ccccd3;
  --icon-active-color: white;

  --border-color: transparent;
  --border-color-active: #FE5163;
  --input-background-color: #33354e;
  --input-text-color: white;

  --primary-color: #FE5163;
  --primary-color-hover: #ff6070;
}
[data-theme='green-dark'] {
  --primary-background-color: #07010e;
  --secondary-background-color: #0F0F22;
  --tertiary-background-color: #1f2034;

  --timer-circle-color: #0F0F22;

  --primary-text-color: white;
  --secondary-text-color: slategray;
  
  --icon-pomodoro-color: #33354e;
  --icon-color: #ccccd3;
  --icon-active-color: white;

  --border-color: transparent;
  --border-color-active: #1b9b7a;
  --input-background-color: #33354e;
  --input-text-color: white;

  --primary-color: #1b9b7a;
  --primary-color-hover: #2aa889;
}
[data-theme='bege-light'] {
  --primary-background-color: #FCF6D7;
  --secondary-background-color: rgb(248, 220, 176);
  --tertiary-background-color: rgb(255, 235, 202);

  --timer-circle-color: rgb(226, 158, 95);

  --primary-text-color: rgb(116, 65, 18);
  --secondary-text-color: rgb(179, 115, 56);

  --icon-pomodoro-color: rgba(179, 115, 56, 0.712);
  --icon-color: rgb(179, 115, 56);
  --icon-active-color: rgb(226, 158, 95);

  --border-color: transparent;
  --border-color-active: rgb(211, 147, 86);
  --input-background-color: rgb(248, 220, 176);
  --input-text-color: rgb(184, 102, 27);
  
  --primary-color: #c26f40;
  --primary-color-hover: #da8351;
}

.bg-page {
  background-color: var(--primary-background-color);
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3em;
  padding-inline: 2em;
}

.theme-container {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  display: flex;
  gap: .2em;
}

/* Animações */

@keyframes fade-in {
  0% {
    transform: translateY(-35px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
